<div class="content">
  <form [formGroup]="form">
    <ion-card>
      <ion-card-header>
        <ion-grid>
          <h5>Registo de Horas de Trabalho</h5>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label> Qual o dia: </ion-label>

          <ion-datetime-button datetime="datetime"> </ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime
                id="datetime"
                color="warning"
                formControlName="recordDate"
                locale="pt-PT"
                presentation="date"
                [showDefaultButtons]="true"
                size="cover"
              ></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Empresa</ion-label>
          <ion-select
            formControlName="company"
            okText="OK"
            cancelText="Cancelar"
          >
            <ion-select-option
              *ngFor="let company of companyList"
              [value]="company.ID"
            >
              {{ company.Company }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Obra</ion-label>
          <ion-select
            formControlName="constructionPlace"
            okText="OK"
            cancelText="Cancelar"
          >
            <ion-select-option
              *ngFor="let site of constructionList"
              [value]="site.ID"
            >
              {{ site.ConstructionNo }} {{ site.ConstructionCN }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Hora de Início</ion-label>
          <ion-datetime-button datetime="startHour"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime
                cancelText="Cancelar"
                doneText="OK"
                color="warning"
                id="startHour"
                locale="pt-PT"
                presentation="time"
                formControlName="beginHours"
                [showDefaultButtons]="true"
                minuteValues="00, 30"
                size="cover"
              >
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>

        <ion-item>
          <ion-label>Hora de Fim</ion-label>
          <ion-datetime-button datetime="endHour"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime
                cancelText="Cancelar"
                doneText="OK"
                color="warning"
                id="endHour"
                locale="pt-PT"
                presentation="time"
                formControlName="endHours"
                [showDefaultButtons]="true"
                minuteValues="00, 30"
                size="cover"
              >
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
      </ion-card-content>

      <div class="flex-center m5">
        <ion-button class="m5" color="warning" (click)="onReset()">
          <ion-icon slot="end" name="refresh-outline"></ion-icon>
          Limpar
        </ion-button>
        <ion-button
          class="m5"
          color="warning"
          (click)="onSubmit(form.value)"
          [disabled]="!form.valid"
        >
          <ion-icon slot="end" name="save-outline"></ion-icon>
          Gravar
        </ion-button>
      </div>
    </ion-card>
  </form>
</div>
